{% extends 'blog/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-dark text-white"><h3>Update Profile Picture</h3></div>
            <div class="card-body text-center">
                <img src="{{ member.profile_pic.url }}" class="rounded-circle mb-3" style="width: 150px; height: 150px; object-fit: cover;">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="profile_pic" class="form-control mb-3">
                    <button type="submit" class="btn btn-danger">Save Picture</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}