{% extends 'blog/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 bg-white p-5 rounded shadow">
        <h3>Update Profile Photo</h3>
        <hr>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Upload Photo</button>
            <a href="{% url 'post_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}